// .botones {
//     background-color: black!important;
//     color: whitesmoke!important;
// }

.card-producto {
    filter: drop-shadow(3px 3px 7px grey);
}

.card-producto img {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.drop-categorias li:hover{
    cursor: pointer;
}

.drop-categorias li:active {
    background-color: grey !important;
}

.descripcion {
    font-size: 14px!important;
}

.btn-agregar {
    width: 150px;
}