.lead{
    font-size: 35px;
}

.table {
    width: 100%;
}

th {
    display: table-cell;
    padding: 30px;
    font-size: larger;
}

div .col{
    font-size: 15px;
}

#boton_mapa{
    width: 15%;
}

.horizontal-card {
    filter: drop-shadow(1px 1px 4px grey);
}

.horizontal-card img {
    height: 120px;
    width: auto;
    object-fit: cover;
}

.btn-eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    border: none;
}