
// div {
//     border: red 1px dashed;

// }

.footer {
    background-color: black;
    color: whitesmoke;
}

.redes {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

// .row {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.primer-row{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.redes {
    align-items: center;
}

.redes img {
    width: 45px;
    height: 45px;
    margin: 5px;
    justify-content: end;
    
}

.text {
justify-content: start;
text-align: center;
font-size: 15px;
margin-right: 10px;
}

.datos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datos p {
    margin: 0;
}

// .facebook{
//     width: 42px;
//     height: 42px;
//     margin: 5px;
// }

.logoPelu img {
    width: 100%;
    height: auto;
}
