
div {
    border: red 1px dashed;

}

.footer {
    background-color: black;
    color: white;
}

.redes {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.redes img {
    width: 60px;
    height: 60px;
}

.facebook{
    width: 57px;
    height: 57px;
}