.containerImagenPrincipal {
    position: relative;
}

.textoImagenPrincipal {
    position: absolute;
    bottom: 40px;
}

.Carrusel {
    height: 400px;
    width: 100%;
}

.splideImage img {
    height: 300px;
    width: auto;
    object-fit: cover;
    margin: 5px;
}

.slick-prev:before, .slick-next:before  {
    color:black;
    font-size: 25px;
}

.imagenMuestra {
    position: relative;
    filter: drop-shadow(3px 3px 7px grey);
}

.icono {
    position: absolute;
    top: 2%;
    right: 5%;
}

.ocultarIcono {
    display: none;
}

.fa-heart:hover {
    color: red;
}

.imagenMuestra img {
    height: 300px;
    width: auto;
    object-fit: cover;
}

.imagenMuestra:hover .icono, .mostarIcono {
    display: flex;
    cursor:pointer;
    filter: drop-shadow(0px 0px 1px whitesmoke)
}

.content {
    min-height: calc(100vh - 217px);
}

body, .home, .home-content {
    background-color: #292929;
    color: black
}

.home-wrapper {
    background-color: white;
    min-height: calc(100vh - 279px);
}

.menuImg {
    width: 575px;
    height: auto;
}

.menuImg-container img {
    transition: transform .5s, filter .5s ease-in-out;
    filter: grayscale(60%);
}

.menuItem:hover img{
    transform: scale(1.02);
    filter: grayscale(0);
}

.menuItem {
    cursor:pointer;
}

.espacio-btn-close {
    border-bottom: none;
    padding: 8px;
    padding-bottom: 0;
}

.btn-close {
    padding: 15px!important;
    padding-bottom: 0!important;
    padding-left: 0!important;
}