.mega {
    background-color: black;
    display: flex; 
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    background-color: white;
    border-radius: 4% ;
    width: 50vh;
    height: 55vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    
  }
  
  h4 {
    margin-bottom: 15px;
  }
  
  #div1{
    display: block;
    justify-content: center;
    align-items: center;
    width: 85%;
    z-index: 3;
  }
  
  input {
    margin-top: auto;
    width: 200%;
  }

  #nombreCompleto input{
      display: inline;
      width: 50%;
  }
  
  button {
    width: 100%;
  }
  
  a {
    color: rgb(0, 0, 0);
  }

  p {
    padding-top: 2px;
    font-size: 11px;
    color:red
  }